<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="active">
            <td colspan="2"><span class="text-info">收货信息</span></td>
        </tr>
        <tr>
            <td><span>收货时间</span></td>
            <td><input id="delivery_ts" type="text" class="form-control datetime" placeholder="填写收货日期"
                       ng-model="card.consigneeDatetime">
            </td>
        </tr>
        <tr>
            <td><span>买家地址</span></td>
            <td><input id="buyer_address" type="text" class="form-control" placeholder="填写收货地址"
                       ng-model="card.buyerAddress"></td>
        </tr>
        <tr>
            <td><span>收货人</span></td>
            <td><input id="consignee" type="text" class="form-control" placeholder="填写收货人" ng-model="card.consignee">
            </td>
        </tr>
        <tr>
            <td><span>联系方式</span></td>
            <td><input id="consignee_contact" type="text" class="form-control" placeholder="填写联系方式"
                       ng-model="card.consigneeContact">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-success btn-block" ng-click="confirm()">确认</button>
            </td>
        </tr>
    </table>
</div>


<div class="row row-sm">
    <div class="placeholder"></div>
</div>

