img.logo {
    width: 100%;
}

.user-icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-height: 35px;
    margin-left: auto;
}

.placeholder {
    height: 50px;
}

div.logo {
    display: table-cell;
    vertical-align: middle;
    background-color: #4cb6cb;
}

div.header {
    display: table;
    width: 100%;
    height: 50px;
}